{% extends "base_generic.html" %}

{% block content %}
    <h1>{{ book.title }}</h1>
    <h2>Автор: {{ book.author.last_name }}, {{ book.author.first_name }}</h2>

    <p><strong>ISBN:</strong> {{ book.isbn }}</p>
    <p><strong>Описание:</strong> {{ book.summary }}</p>
    <p><strong>Жанр:</strong> {{ book.genre.all|join:", " }}</p>

    <h4><strong>Другие книги автора:</strong></h4>
    <ul>
        {% for other_book in book.author.book_set.all %}
            <li>
                <a href="{{ other_book.get_absolute_url }}"><strong>{{ other_book.title }}</strong></a>
                <p><strong>({{ other_book.id }})</strong></p>
            </li>
        {% endfor %}
    </ul>
{% endblock %}

